textarea {
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

#container {
    width:90%;
    height: 80%;
    position:relative;
    margin: auto;
}

#left {
    width:49%;
    height:100%;
}

#separator{
    width:1%;
    height:100%;
}

#right {
    width:49%;
    height:100%;
}

#editor {
    float:none;
    width:100%;
    height:100%;
}

#controls {
    width:10%;
    float:none;
}

#console {
    width:100%;
    height:100%;
    font-size: 12px;
    float:none;
    background-color:var(--dark-3);
    color:var(--clear-1);
}

#legend{
    position: absolute;
    margin-left: 5%;
    visibility: hidden;
}