@charset 'utf-8';
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
@import url(https://fonts.googleapis.com/css?family=Oxygen);


* {
    font-family:Oxygen;
    margin: 0
}

a.banner:link, a.banner:visited {
    font-size: 1.2em
}

#banner {
    padding-bottom: 15px
}

#console {
    background-color:#000;
    color:#FFF;
    font-size:12px;
    font-weight:700
}

a.glink {
    background-color:#FFF;
    color:#000;
    text-decoration:underline
}

img.logo {
    border-width:0;
    height:28px;
    padding:0;
    width:auto
}

select.language {
    border-width:0;
    color:#000;
    font-size:14px;
    margin-left:10px;
    padding:10px
}

.pycode{
    background-color:#F0F0F0;
    padding:3px 8px 8px 8px;
    border-style:solid;
    border-width:1px;
    border-color:#888;
    border-radius: 10px;
    width:auto;
}

li {
    margin-bottom:3px
}

pre.marked {
    color:#339
}

code {
    color:#339
}

em {
    color:#339;
    font-family:courier
}

strong {
    color:#339;
    font-family:courier
}

#main {
    border: 1px solid #000;
    min-height:20px;
    min-width:200px;
    padding:5px
}

.logo {
    height: 38px
}

#content {
    clear: both
}


/* Responsive off-Canvas Navigation Menu */
ul.menu {
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%
}

ul.menu li, a.open-panel, a.close-panel {
    list-style-type: none;
    display: block;
    float: left;
    margin: 0;
    padding: .5em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 9em;
    max-width: 50em;
    text-align: center;
    background-color: #1767b7
}

/* links on the responsive menu with glow */
a.banner, a.banner:hover, a.banner:focus, a.open-panel, a.open-panel:hover, a.open-panel:focus {
    text-decoration: none;
    color: lightgray;
    text-shadow: none;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none
}

a.banner:hover, a.banner:focus, a.open-panel:hover, a.open-panel:focus {
    color: #fff;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff
}

a.open-panel {
    display: none;
    border-radius: 0 0 9em 0
}

#close-panel {
    display: none
}

#banner_row > li:nth-child(8) {
    border-radius: 0 0 9em 0
}


/* Breakpoint: only color screens of < 999px, mobile */
@media only screen and (color) and (max-width: 999px) {

    #content {
        padding-top: 0
    }

    /* Move nav off screen, setup transitions */
    nav {
        width: 70%;
        position: absolute;
        left: -70%;
        top: 0;
        height: 100%;
        background-color: #1767b7
    }

    /* Display nav items vertically */
    ul.menu {
        border-top: 1px solid gray
    }

    ul.menu li {
        float: none;
        width: 100%;
        text-align: center;
        padding: .5em 1em;
        box-sizing: border-box;
        border-bottom: 1px solid gray
    }

    /* Reveal open/close buttons */
    a.open-panel, a.close-panel {
        display: inline
    }

    #close-panel {
        display: inherit
    }

    #banner_row > li:nth-child(8) {
        border-radius: 0
    }

    .openNav #page {
        left: 0;
        -webkit-transform: translateX(70%);
        -moz-transform: translateX(70%);
        -ms-transform: translateX(70%);
        -o-transform: translateX(70%);
        transform: translateX(70%);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease
    }

    /* When the panel is closed, transition the page back to the left */
    #page {
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease
    }

}
