@charset 'utf-8';
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}


html {

}

body {
  font-family:Oxygen,arial;
  font-size:14px;
}

a.navig:link,a:link,a:hover {
  color:#1767B7;
  text-decoration:none
}

a.banner:link,a.banner:visited {
  background-color:#1767B7;
  color:#FFF;
  display:block;
  font-size:16px;
  line-height:30px;
  padding:10px;
  text-align:center;
  text-decoration:none
}

a.banner:hover,a.banner:active {
  background-color:#2070C0;
  color:#FFF
}

#banner {
  padding-bottom:15px;
  width:100%
}

#console {
  background-color:#000;
  color:#FFF;
  font-size:12px;
  font-weight:700
}

#content {
  padding-left:5%;
  padding-right:5%
}

a.glink {
  background-color:#FFF;
  color:#000;
  text-decoration:underline
}

img.logo {
  border-width:0;
  height:28px;
  padding:0;
  width:auto
}

td.logo {
  background-color:#1767B7;
  padding-left:20px;
  width:15%
}

td.top_menu {
  width:10%
}

td.language {
  background-color:#1767B7;
  text-align:right
}

select.language {
  border-width:0;
  color:#000;
  font-size:14px;
  margin-left:10px;
  padding:10px
}

li {
  margin-bottom:3px
}

pre.marked {
  color:#339
}

code {
  color:#339
}

em {
  color:#339;
  font-family:Oxygen,courier
}

strong {
  color:#339;
  font-family:Oxygen,courier
}

#main {
  border-color:#000;
  border-style:solid;
  border-width:1px;
  min-height:20px;
  min-width:200px;
  padding:5px
}


.github-fork-ribbon {
    -webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,.5);
    -moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.5);
    -o-box-shadow:0 2px 3px 0 rgba(0,0,0,.5);
    box-shadow:0 2px 3px 0 rgba(0,0,0,.5);
    background-color:#1767B7;
    background-image:linear-gradient(tobottom,rgba(0,0,0,0), rgba(0,0,0,0.2));
    font:700 13px Oxygen;
    padding:2px 0;
    pointer-events:auto;
    position:absolute;
    z-index:9999
}

.github-fork-ribbon a,.github-fork-ribbon a:hover {
    border-color:rgba(255,255,255,.7);
    border-style:dotted;
    border-width:1px 0;
    color:#fff;
    display:inline-block;
    line-height:20px;
    padding:2px 0;
    text-align:center;
    text-decoration:none;
    text-shadow:0 -1px rgba(0,0,0,.5);
    width:200px
}

.github-fork-ribbon-wrapper {
    height:150px;
    overflow:hidden;
    pointer-events:none;
    position:absolute;
    top:0;
    width:150px;
    z-index:9999
}

.github-fork-ribbon-wrapper.fixed {
    position:fixed
}

.github-fork-ribbon-wrapper.right {
    right:0
}

.github-fork-ribbon-wrapper.right-bottom {
    bottom:0;
    position:fixed;
    right:0;
    top:inherit
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    right:-43px;
    top:42px;
    transform:rotate(45deg)
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    right:-43px;
    top:80px;
    transform:rotate(-45deg)
}
