
body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}


.score {
    background-color: #888;
    color: #000;
}

.note {
    width: 15px;
    text-align: center;
}

.tabs {
    border-spacing: 0px;
    padding: 0px;
}

.tabs td {
   border-style: solid;
   border-color: #333;
   text-align: center;
}

.unselected_tab {
   border-width: 0px 0px 1px 0px;
}

.selected_tab {
   border-width: 1px 1px 0px 1px;
}
