@charset "utf-8";

body {
  font-family:arial,verdana;
  font-size:14px
}

ul {
  list-style-type:none;
  margin:0;
  overflow:hidden;
  padding:0
}

li { float:left }

a.banner:link, a.banner:visited {
  background:#000 url(doc/images/noir-1.png) repeat-x;
  color:#FFF;
  display:block;
  font-size:14px;
  font-weight:700;
  line-height:35px;
  padding:8px;
  text-align:center;
  text-decoration:none
}

a.banner:hover, a.banner:active {
  background:#000 url(doc/images/noir-2.png) repeat-x;
  color:#FFF
}

#banner {
  padding-bottom:15px;
  width:85%
}

#console {
  background-color:#000;
  color:#FFF;
  font-weight:700
}

a.glink {
  background-color:#FFF;
  color:#000;
  text-decoration:underline
}
