@charset 'utf-8';
@-webkit-viewport{width: device-width}
@-moz-viewport{width: device-width}
@-ms-viewport{width: device-width}
@-o-viewport{width: device-width}
@viewport{width: device-width}


#banner {
  padding-bottom:15px;
  width:85%
}

#console {
  background-color:#000;
  color:#FFF;
  font-weight:700
}

a.banner:hover,a.banner:active {
  background:#000 url(doc/images/noir-2.png) repeat-x;
  color:#FFF
}

a.banner:link,a.banner:visited {
  background:#000 url(doc/images/noir-1.png) repeat-x;
  color:#FFF;
  display:block;
  font-size:14px;
  font-weight:700;
  line-height:35px;
  padding:8px;
  text-align:center;
  text-decoration:none
}

a.glink {
  background-color:#FFF;
  color:#000;
  text-decoration:underline
}

body {
  font-family:Oxygen,arial;
  font-size:14px
}

li {
  float:left
}

ul {
  list-style-type:none;
  margin:0;
  overflow:hidden;
  padding:0
}
