body,td {font-family: Arial;
    font-size:14px;
    color:#AAD2E4;
}
    
#cours {
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width:800px;
    margin-top:20px;
    padding-top:5px;
    padding-left:40px;
    padding-right:40px;
    font-size:24px;
    background:linear-gradient(#355C9E,#052C6E);
}

#cours h1 {
    background-color:#4479D4;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    color:#FFFFFF;
    border-radius: 10px 10px;
}

#cours pre.marked{
    background-color:#FFF;
    font-size: 18px;
    font-weight:normal;
    margin-left:40px;
    margin-right:40px;
    padding: 7px;
    color:#2A4480;
    max-width:600px;
}
code {color: #FFF;
    font-weight:bold;
}
em{
    color: #FFF;
    font-family:courier;
}
strong{
    color: #FFF;
    font-size:24px;
}

#footer {
    text-align: center;
    position:absolute;
    bottom:25px;
    width:90%;
    font-weight:bold;
    color:#7AA2E4;
    
    padding:5px;
}
#timeline {
    text-align: center;
    position:absolute;
    bottom:5px;
    width:90%;
    font-weight:bold;
    color:#FFB740;
    background-color:#7AA2E4;
    height:10px;
    padding-left:5px;
    padding-right:5px;
}
#tl_pos{
    text-align: center;
    position:absolute;
    bottom:0px;
    width:4px;
    font-weight:bold;
    background-color:#FFF;
    height:10px;
    left:0px;
}
a:visited{color:#AAD2E4;}