@charset 'utf-8';

/*
0a090c-f0edee-1b9aaa-224870-2a4494
*/

:root {
  --clear-1: #f0edee;
  --clear-2: #e0ddde;
  --clear-3: #e9f1f7;
  --dark-1: #2a4494;
  --dark-2: #028090;
  --dark-3: #0a090c;
}

@font-face{
    font-family: "libra_bt";
    src: url("../fonts/libra_bt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.otf") format("truetype");
    font-weight: normal;
    font-style: normal
}

body {
  font-family:Montserrat, Arial;
  font-size:0.9em;
  margin: 0px;
  background-color: var(--clear-1);
  color: var(--dark-1);
}

#banner_row {
  background-color:var(--clear-2);
  font-family:Montserrat, Arial;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 1em;
}

/* Classes for brython.widgets.menu */

:root {
  --brython-menu-font-family: Montserrat;
  --brython-menu-font-size: 1.2em;
  --brython-menu-navbar-bgcolor: var(--clear-2);
  --brython-menu-navbar-bgcolor-selected: var(--clear-3);
  --brython-menu-navbar-color: var(--dark-1);
  --brython-menu-color: #000;
  --brython-menu-submenu-bgcolor: var(--clear-2);
  --brython-menu-submenu-bgcolor-selected: var(--clear-3);
}

/* Item in the main horizontal navigation bar */
.brython-menu-navbar-item {
    font-family: var(--brython-menu-font-family);
    font-size: var(--brython-menu-font-size);
    background-color: var(--brython-menu-navbar-bgcolor);
    color: var(--brython-menu-navbar-color);
    padding: 0.5em 1em 0.5em 1em;
    cursor: default;
}

.brython-menu-navbar-item:hover {
    background-color: var(--brython-menu-navbar-bgcolor-selected);
}

.brython-menu-navbar-item-selected {
    background-color: var(--brython-menu-navbar-bgcolor-selected);
}

.brython-menu-navbar-link {
    font-family: var(--brython-menu-font-family);
    font-size: var(--brython-menu-font-size);
    background-color: var(--brython-menu-navbar-bgcolor);
    color: var(--brython-menu-navbar-color);
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}

/* Table for a submenu, opened by a click on an item */
.brython-menu-submenu {
    font-family: var(--brython-menu-font-family);
    font-size: var(--brython-menu-font-size);
    background-color: var(--brython-menu-submenu-bgcolor);
    position: absolute;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: var(--brython-menu-color);
    border-spacing: 0;
}

/* TR for a submenu item row */
.brython-menu-submenu-row:hover {
    color: var(--brython-menu-color);
    background-color: var(--brython-menu-submenu-bgcolor-selected);
}

.brython-menu-submenu-row-selected {
    color: var(--brython-menu-color);
    background-color: var(--brython-menu-submenu-bgcolor-selected);
}

/*
   TD for a cell in a submenu row
   Each row has two cells, one for the item label, the other one
   filled with a > if the item has a submenu
*/
.brython-menu-submenu-item {
    font-family: var(--brython-menu-font-family);
    padding: 0.3em 0.3em 0.3em 1em;
    cursor: default;
}

.brython-menu-submenu-link {
    font-family: var(--brython-menu-font-family);
    padding: 0.3em 0.3em 0.3em 1em;
    text-decoration: none;
}

/* end of browser.widgets.menu classes */
a.glink {
  background-color:var(--clear-1);
  color:var(--dark-1);
  text-decoration:underline;
}

a.navig:link,a:link,a:hover,a:visited,a.navig:visited {
  color:var(--dark-1);
  text-decoration:none;
}

#content {
  padding-left:5%;
  padding-right:5%
}

#content a{
    text-decoration: underline;
}

button{
    background-color: var(--clear-2);
    border-color: var(--clear-2);
    color: var(--dark-1);
    border: 1px solid;
    padding: 0.2em;
}
button:hover{
    border-color: var(--dark-2);
}
button:disabled{
    cursor: not-allowed;
}

h1.brython{
    font-family: libra_bt;
    font-size: 300%;
}

.logo {
  font-family: libra_bt;
  font-size: 3em;
  color:var(--dark-2)
  background-color:var(--clear-2);
  padding: 1em 1em 0.5em 1em;
  width:15%;
  cursor: pointer;
}

a.logo {
  text-decoration: none;
  font-size: 3em;
}

td.top_menu {
  width:10%
}

.sel_lang {
  background-color:var(--clear-1);
  text-align:right;
  padding-top: 0.2em;
  padding-right: 3em;
}

select.language {
  border-width:0;
  color:var(--dark-1);
  font-size:0.8em;
  background-color: var(--clear-1);
}

.pycode{
    font-size: 0.9em;
    display: inline-block;
    background-color:var(--clear-3);
    color: var(--dark-1);
    padding:3px 8px 8px 8px;
    border-style:solid;
    border-width:1px;
    border-color:#888;
    border-radius: 10px;
    width:auto;
    font-family: "Consolas";
}

.pycode-in-html{
    font-size: 0.9em;
    display: block;
    background-color:var(--clear-2);
    color: var(--dark-1);
    width:auto;
    padding:0px 8px 8px 8px;
    font-family: "Consolas";
}

.xml{
    font-size: 0.9em;
    display: inline-block;
    background-color:var(--clear-1);
    padding:3px 8px 8px 8px;
    border-style:solid;
    border-width:1px;
    border-color:#888;
    border-radius: 10px;
    color:var(--dark-3);
    width:auto;
}

.css {
    background-color: var(--clear-2);
    display: inline-block;
    padding:3px 8px 8px 8px;
}

.console{
    font-size: 0.9em;
    display: inline-block;
    background-color:var(--dark-3);
    padding:3px 8px 8px 8px;
    color:var(--clear-3);
    width:auto;
}

li {
  margin-bottom:3px
}

pre{
    font-family: Consolas;
}
pre.marked {
  color:var(--dark-3);
  font-size: 12px;
}

/* colors for highlighted Python code */

span.python-string{
    color: blue;
}
span.python-comment{
    color: green;
}
span.python-keyword{
    color: purple;
}
span.python-builtin{
    color: #963;
}

/* colors for highlighted html */

span.html-tag{
  color: blue;
}

span.html-attrs{
  color: green;
}

/* style for Python code inside HTML tag <script> */

.python-in-html{
  background-color: var(--clear-2)
}


code {
  color:var(--dark-3);
  font-family: Consolas;
}

code.file{
    background-color: var(--dark-2);
    font-weight: bold;
    font-style: italic;
}

code.module{
  color: var(--dark-2);
}

em{
  color:var(--dark-2);
  font-family:courier;
}

strong {
  color:var(--dark-2);
  font-family:courier;
  font-size: 1em;
}

#main {
  border-color:green;
  border-style:solid;
  border-width:1px;
  min-height:20px;
  min-width:200px;
  padding:5px
}

